<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .background {
    padding-top: 3%;
    padding-bottom: 13%;
    background: url('assets/files/wall.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .required-field {
    color: red;
  }

  .alertRedColor {
    color: red;
  }
</style>

<div class="container-fluid background">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body shadow-lg grad">
          <form name="officeForm">
            <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Add Phone' | translate }}
            </h2>
            <h2 *ngIf="form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Update Phone' | translate }}
            </h2>

            <!-- Form error messages -->
            <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>
            <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <!-- Name Field with Validation -->
            <div class="form-group pt-2">
              <label><b>{{ 'Model Name' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-id-badge grey-text"></i></div>
                </div>
                <input type="text" name="modelName" [(ngModel)]="form.data.modelName" class="form-control" maxlength="51"
                  (keydown)="validateName($event)" placeholder="{{ 'Enter modelName' | translate }}" required>
              </div>
              <span *ngIf="errorMessageModelName" class="alertRedColor">{{ errorMessageModelName }}</span>
              <span *ngIf="form.inputerror?.modelName" class="alertRedColor">{{ form.inputerror.modelName }}</span>
            </div>

            <!-- Amount Field -->
            <div class="form-group pt-2">
              <label><b>{{ 'Price' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-id-badge grey-text"></i></div>
                </div>
                <input type="text" name="price" [(ngModel)]="form.data.price" class="form-control"
                  (keydown)="filterInput($event, 'errorMessagePrice', 8, 'int')"
                  placeholder="{{ 'Enter price' | translate }}" required>
              </div>
              <span *ngIf="errorMessagePrice" class="alertRedColor">{{ errorMessagePrice }}</span>
              <span *ngIf="form.inputerror?.price" class="alertRedColor">{{ form.inputerror.price }}</span>
            </div>

            <!-- Start Date Field -->
            <div class="form-group pt-2">
              <label><b>{{ 'Launch Date' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-calendar grey-text"></i></div>
                </div>
                <input type="date" name="launchDate" [value]="form.data.launchDate | date:'yyyy-MM-dd'" class="form-control"
                  (input)="form.data.launchDate=parseDate($event.target.value)"
                  placeholder="{{ 'Enter launchDate' | translate }}" required>
                            </div>
              <span *ngIf="form.inputerror?.launchDate" class="alertRedColor">{{ form.inputerror.launchDate }}</span>
            </div>

            <!-- Analysis Type Field -->
            <div class="form-group pt-2">
              <label><b>{{ 'OS' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-paint-brush grey-text"></i></div>
                </div>
                <select class="form-control" name="os" [(ngModel)]="form.data.os" aria-label="ngSelected" required>
                  <option [ngValue]="undefined">{{ 'Select os' | translate }}</option>
                  <option *ngFor="let leve of form.preload.osList" [value]="leve.key">{{ leve.value }}</option>
                </select>
              </div>   
              <span *ngIf="form.inputerror?.os" class="alertRedColor">{{ form.inputerror.os }}</span>
            </div>

            <div class="row pt-2 pl-2 pb-3">
              <div class="col-md-3"></div>
              <div class="pt-2">
                <button *ngIf="!form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Save' | translate }}
                </button>
              </div>
              <div class="col-md-1"></div>
              <div class="pt-2">
                <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Update' | translate }}
                </button>
              </div>
              <div class="pt-2">
                <a class="btn btn-warning mr-1" type="button" [routerLink]="['/phonelist']"
                   style="text-decoration: none; color: white;">
                  {{ 'List' | translate }}
                </a>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>